<launch>
	<!-- vim:set ft=xml : -->
	<!-- ntpd_driver launch, time source is mavros -->

	<node pkg="ntpd_driver" type="shm_driver" name="ntpd_shm" respawn="true" respawn_delay="10" clear_params="true" output="log">
		<param name="shm_unit" value="2" />
		<param name="fixup_date" value="true" />
		<remap from="~/time_ref" to="/mavros/time_reference" />
	</node>
</launch>
