<launch>
  <!-- robot startup script -->
  <include file="$(find rarog_bringup)/launch/robot_description.launch" />

  <include file="$(find rarog_bringup)/launch/mavros.launch" />
  <include file="$(find rarog_bringup)/launch/ntpd_driver.launch" />
  <include file="$(find rarog_bringup)/launch/event_launcher.launch" />
</launch>
